.header{
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}
.subtitle{
    display: flex;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 7rem;
}
.paragraph{
    padding: 5rem;

}