#first {
    text-align: center;
    padding:1rem;
}
#first p {
    height: 3rem;
    border: 0.5rem black inset;
    margin-left: 7rem;
    margin-right: 7rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
}
.social{
    text-align: right;
}
